---
import Layout from "../layouts/Layout.astro";
import { allTypes } from "../pokemon_types";
import { gruntCatchphrases } from "../grunt_catchphrases";
import PokemonPill from "../components/PokemonPill.astro";
import PageContent from "../components/PageContent.astro";
import TypeList from "../components/TypeList.astro";
import TypeListItem from "../components/TypeListItem.astro";
import BlockLink from "../components/BlockLink.astro";
import Pill from "../components/Pill.astro";
---

<Layout title="Pokemon Go Companion" showLogo={false}>
  <PageContent>
    <h1
      transition:name="logo"
      transition:animate="initial"
      class="text-gradient"
    >
      Pokemon Go Companion
    </h1>

    <div>
      <h2>Attack Types</h2>

      <div transition:name="typelist-attack" transition:animate="initial">
        <TypeList>
          {
            allTypes.map((type) => (
              <TypeListItem>
                <BlockLink href={`/pokemon-go-companion/types/attack/${type}`}>
                  <PokemonPill interactive type={type} />
                </BlockLink>
              </TypeListItem>
            ))
          }
        </TypeList>
      </div>
    </div>

    <div>
      <h2>How to defeat</h2>

      <div transition:name="typelist-defense" transition:animate="initial">
        <TypeList>
          {
            allTypes.map((type) => (
              <TypeListItem>
                <BlockLink href={`/pokemon-go-companion/types/defense/${type}`}>
                  <PokemonPill interactive type={type} />
                </BlockLink>
              </TypeListItem>
            ))
          }
        </TypeList>
      </div>
    </div>

    

    <div>
      <h2>Team R challenges</h2>

      <ul role="list" class="link-card-grid">
        {
          Object.entries(gruntCatchphrases).map((challenge) => (
            <div class="grunt-wrap">
            <li class="grunt">
                <a href={`/pokemon-go-companion/grunt/${challenge[0]}`}>
                <Pill
                 color="#5F6DBC"
                 interactive
                >
                  {challenge[1]}
                </Pill></a>
            </li>
            </div>
          ))
        }
      </ul>
    </div>
  </PageContent>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 1em;
    margin-bottom: 0.6em;
  }

  ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;
  }
  li {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  div.grunt-wrap {
    /* background: var(--accent-gradient); */
    position: relative;
    border-radius: 8px;
  }

  li.grunt {
    /* background: #222; */
    height: 100%;
    line-height: 1.25;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  a {
    color: white;
    display: flex;
    gap: 1em;
    align-items: center;
    text-decoration: none;
    width: 100%;
  }

  a span {
    text-transform: uppercase;
  }
</style>
